<div class="row col-md-8 col-md-offset-2">
  <% if @chatroom.is_a?(PersonalChatroom) %>
    <% if @chatroom.first_user_id == current_user.id %>
      <h1 class='title'><%= @chatroom.second_user.full_name %></h1>
    <% else %>
      <h1 class='title'><%= @chatroom.first_user.full_name %></h1>
    <% end %>
  <% else %>
    <h1 class='title'><%= @chatroom.topic %></h1>
  <% end %>
  <div class="panel panel-default">
    <% messages = @chatroom.is_a?(PersonalChatroom) ? @chatroom.personal_messages : @chatroom.messages %>
    <% if messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: messages.order(:created_at)%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>
  <%= render partial: 'messages/message_form', locals: { message: @message, chatroom: @chatroom}%>
</div>