<ul class="nav navbar-nav">
  <% if current_user %>
    <li>
      <%= link_to "New Group", new_chatroom_path%>
    </li>
    <li>
      <%= link_to "Groups", chatrooms_path %>
    </li>
    <% if user_friend_requests.pending.present? %>
      <li>
      <%= link_to 'Friend Request', friend_requests_path%>
      </li>
    <% end %>
    <% if current_user.friends.present? %>
      <li>
      <%= link_to 'Friends', friends_welcomes_path%>
      </li>
    <% end %>
    <li class='space-10 vspace-10'>
      <%= render 'shared/search' %>
    </li>
  <% end %>
  
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><%= link_to "Profile", edit_user_registration_path %></li>
    <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
  <% else %>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Log In", new_user_session_path %></li>
  <% end %>
</ul>