<!DOCTYPE html>
<html>
  <head>
    <title>Live Chat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
  </head>

  <body>
   <a class="github-fork-ribbon right-bottom fixed" href="https://www.linkedin.com/in/ganesh-navale-258aa6111/" title="Follow me on LinkedIn">Ganesh Navale</a>
  <%= render partial: 'layouts/navbar' %>
  <div class='users'>
  </div>
  <% if notice %>
    <p class="alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert-alert"><%= alert %></p>
  <% end %> 
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>

